<!--<div style="wight: 161%;z-index: 999;width: 150%;">-->
<div>
    <h1>
        <br>
        <strong>
            <%- theme.user_name || '' %>
        </strong>
    </h1>
    <p>
        <i class="fa fa-location-arrow" style="margin-right: 5px;"></i>
        <%- theme.user_location %>
    </p>
    <p>
        <i class="fa fa-tags" style="margin-right: 5px;"></i>
        <%- theme.user_tags %>
    </p>


    <hr>
    <p>感谢陪我走过每一段路的每一个人，良师益友总常在。</p>
</div>